
.noscroll .scroll_area {
	pointer-events: none;
  }


.top_logo{
	-webkit-transition: all 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
    transition: all 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
	position: fixed;
	left: 50px;
	top:50px;
	z-index: 999;
	pointer-events: none;
	width: 55%;
}

.hasActiveLetter .top_logo{
	width: 35%;
}


.bottom_date{
	position: fixed;
	left: 50px;
	bottom:50px;
	z-index: 999;
	pointer-events: none;
	width: 8%;
}

.bottom_logo{
	position: fixed;
	right: 50px;
	bottom:50px;
	z-index: 999;
	pointer-events: none;
	width: 5%;
}



.home_status{
	-webkit-transition: transform 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s,  opacity 0.9s ease 0s; 
    transition: transform 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s,  opacity 0.9s ease 0s; 
	transform: scale(1,1);
	position: fixed;
	text-align: center;
	left: 50px;
	right: 50px;
	bottom: 50px;
	z-index: 99;
	color: #000;
	margin: auto;
	font-size: 20px;
	letter-spacing: 0.1em;
}


.random_text{
	-webkit-transition: all 0.6s cubic-bezier(0.645, 1.325, 0.530, 0.980) 0s; 
    transition: all 0.6s cubic-bezier(0.645, 1.325, 0.530, 0.980) 0s; 
	position: fixed;
	width: 50%;
	right: 0px;
	top: 0px;
	height: 100%;
	z-index: 9;
	display: flex;
	flex-wrap: wrap;
	transform: scale(0,0);
}

.startAnalysing .random_text{
	transform: scale(1,1);
}

.random_text_box{
	position: absolute;
	width: 300px;
	height: 300px;
	border:1px solid #fff;
	color:#fff;
	margin: auto;
	top:0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	padding: 20px;
}

.random_text .col{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.ticket_wrapper{
	position: fixed;
	right: 0px;
	width: 50%;
	top:0px;
	bottom: 0px;
	margin: auto;
	perspective: 1000px;
	overflow: auto;
	padding-top: 200px;
	padding-bottom: 200px;
	display: none;
}

.ticket{
	-webkit-transition: all 1.2s cubic-bezier(0.645, 1.325, 0.530, 0.980) 0s; 
    transition: all 1.2s cubic-bezier(0.645, 1.325, 0.530, 0.980) 0s; 
	position: absolute;
	width: 50%;
	left: 0%;
	right: 0%;
	margin: auto;
	transform: translateY(75%) rotateX(-15deg);
	z-index: 9;
}

body{
}

.finishAnalysing .ticket{
	transform: translateY(0%) rotateX(0deg);
}


.overlay{
	-webkit-transition: all 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
    transition: all 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
	position: fixed;
	top: 0px;
	left: 0px;
	width: 50%;
	height: 100%;
	background-color: #ff8535;
	z-index: 1;
	mix-blend-mode: difference;
	pointer-events: none;
}

.body_test_humanity .overlay, .body_user_guide .overlay{
	left: -50%;
}

.over_btn_wrapper{
	-webkit-transition: all 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
    transition: all 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
	position: fixed;
	top:0%;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 99;
	display: flex;
	flex-direction: column;
	justify-content: end;
	cursor: pointer;
}

.body_test_humanity .over_btn_wrapper{
	top: -100%;
}

.body_user_guide .over_btn_wrapper{
	top: 100%;
}


.over_btn{
	height: 43%;
	display: flex;
	align-items: center;
	color: #fff;
}

.over_btn div{
	margin: auto;
	text-align: center;
}

.chat_wrapper{
	-webkit-transition: all 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
    transition: all 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
	position: fixed;
	left: 0px;
	top:100%;
	width: 100%;
	height: 100%;
	margin: auto;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	z-index: 1;
}

.body_test_humanity .chat_wrapper{
	top: 0%;
}

.body_test_humanity_result_loading .chat_wrapper, .body_test_humanity_result_done .chat_wrapper{
	top: -100%;
}

.chat_question_wrapper{
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 160px;
	right: 0px;
	margin: auto;
	overflow: auto;
}

.chat_question_inwrapper{
	position: relative;
}

.chat_question{
	padding: 50px 50px 0px 50px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.chat_question_item{
	position: relative;
	border-radius: 5px;
	padding: 10px 20px;
}

.chat_question_item_system{
	background-color: #9fa1a4;
}

.chat_question_item_left{
	background-color: #17e397;
}

.chat_question_item_left.loading_text::before{
	content:"...";
	display: block;
	animation: loading_text 1s linear infinite;
}

@keyframes loading_text {
	0%   {content:".";}
	33.33%  {content:"..";}
	66.66%  {content:"...";}
}

.chat_question_item_left.typing_text::after{
	content:"typing...";
	display: block;
	position: absolute;
	left: 0px;
	top:100%;
	margin-top: 10px;
	color: #fff;
	animation: typing_text 1s linear infinite;
}

@keyframes typing_text {
	0%   {content:"typing.";}
	33.33%  {content:"typing..";}
	66.66%  {content:"typing...";}
}

.chat_question_item + .chat_question_item{
	margin-top: 20px;
}

.chat_question_item_right{
	background-color: #cacaca;  
	align-self: flex-end;
}

.chat_answer_wrapper{
	position: absolute;
	left: 50px;
	bottom: 50px;
	right: 50px;
	margin: auto;
}


.chat_answer{
	position: relative;
	height: 60px;
	width: 100%;
	border-radius: 5px;
	background-color: #9fa1a4;
}

.chat_answer_input_wrapper{
	left: 20px;
	top:0px;
	bottom: 0px;
	right: 260px;
	position: absolute;
}

.chat_answer_input{
	background: none;
	border: none;
	line-height: 1em;
	width: 100%;
	height: 100%;
	position: absolute;
}

.chat_answer_submit{
	-webkit-transition: all 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
    transition: all 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
	position: absolute;
	top:0px;
	right: 0px;
	bottom: 0px;
	width: 240px;
	background-image: url(../images/chat_btn_icon.png);
	background-size: auto 400%;
	background-position: center 0%;
	background-repeat: no-repeat;
	cursor: pointer;
}

.chat_answer_wrapper.restartchat{
	background-image: url(../images/chat_btn_icon2.png);
	background-position: center 0%;
}

.chat_answer_wrapper.notstartfirstchat .chat_answer_submit, .chat_answer_wrapper.endchat .chat_answer_submit{
	width: 100%;
}

.chat_answer_wrapper.startchat .chat_answer_submit{
	background-position: center 33.33%;
}

.chat_answer_wrapper.endchat .chat_answer_submit{
	background-position: center 66.66%;
}


.chat_answer_submit:hover{
	opacity: 0.5;
}

.chat_answer_submit::after{
	content:"";
	position: absolute;
	left: 0px;
	top:5px;
	bottom: 5px;
	border-left:1px solid #000000;
	margin: auto;
}

.chat_result_loading{
	-webkit-transition: all 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
    transition: all 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
	position: fixed;
	left: 0px;
	top:0px;
	width: 100%;
	height: 100%;
	margin: auto;
	z-index: 1;
	display: flex;
	align-items: center;
	opacity: 0;
	pointer-events: none;
}



.chat_result_loading div{
	text-align: center;
	margin: auto;
}

.chat_result_wrapper{
	-webkit-transition: all 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
    transition: all 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
	position: fixed;
	left: 0px;
	top:100%;
	width: 100%;
	height: 100%;
	margin: auto;
	z-index: 1;
	display: flex;
	align-items: center;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

.body_test_humanity_result_done .chat_result_wrapper{
	top:0%;
}

.body_test_humanity_result_done .chat_result_wrapper{
	top:0%;
}

.chat_result_wrapper .bg{
	position: absolute;
	left: 0px;
	top:0px;
	width: 100%;
	height: 100%;
	cursor: pointer;
}


.chat_result_inwrapper{
	width: 80%;
	position: relative;
	margin: auto;
}

.chat_result{
	margin: auto;
	padding-bottom: 40%;
	filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
	position: relative;
}

.chat_result_top_bg{
	position: absolute;
	left: 50px;
	top:0px;
	right: 50px;
	background: #ef5a24;
	height: 50px;
}

.chat_result_top_bg::before{
	content:"";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 50px 50px;
	border-color: transparent transparent #ef5a24 transparent;
	position: absolute;
	right: 100%;
	top:0px;
}

.chat_result_top_bg::after{
	content:"";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 50px 0 0 50px;
	border-color: transparent transparent transparent #ef5a24;
	position: absolute;
	left: 100%;
	top:0px;
}

.chat_result_bottom_bg{
	position: absolute;
	left: 50px;
	bottom:0px;
	right: 50px;
	background: #ef5a24;
	height: 50px;
}

.chat_result_bottom_bg::before{
	content:"";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 50px 50px 0;
	border-color: transparent #ef5a24 transparent transparent;
	position: absolute;
	right: 100%;
	top:0px;
}

.chat_result_bottom_bg::after{
	content:"";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 50px 50px 0 0;
	border-color: #ef5a24 transparent transparent transparent;
	position: absolute;
	left: 100%;
	top:0px;
}




.chat_result_content {
	position: absolute;
	left: 0px;
	top:50px;
	bottom:50px;
	right: 0px;
	background: #ef5a24;
  }

.chat_result_logo{
	position: absolute;
	left: 50px;
	top:0px;
	height: 70px;
}

.chat_result_content_scroll_wrapper{
	position: absolute;
	left: 50px;
	top:120px;
	right: 50px;
	bottom: 0px;
	margin: auto;
}
.chat_result_content_scroll{
	position: absolute;
	left: 0px;
	top:0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.chat_result_box_wrapper{
	position: absolute;
	left: 0px;
	top:0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
	overflow: hidden;
	display: flex;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}

.chat_result_box{
	display: flex;
	position: relative;
	width: 33.33%;
}

.chat_result_box + .chat_result_box{
	border-left: 1px solid #000;

}

.chat_result_box_scroll{
	display: flex;
	position: relative;
	width: 100%;
}

.chat_result_box_content{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 30px;
	padding-right: 30px;
	width: 100%;
	gap: 30px;
}




.chat_result_box .chat_hover_text{
	position: absolute;
	left: 30px;
	right: 30px;
	top:0px;
	bottom: 0px;
	margin: auto;
	overflow: hidden;
	opacity: 0;
	background-color: #fff;
	display: flex;
	align-items: center;
}

.chat_result_box .chat_hover_text div{
	text-align: center;
	width:80%;
	margin: auto;
}

.chat_result_box:hover .chat_hover_text{
	opacity: 1;
}



.chat_result_box .icon_cover_wrapper{
	position: absolute;
	left: 30px;
	right: 30px;
	top:0px;
	bottom: 0px;
	margin: auto;
	overflow: hidden;
	pointer-events: none;
}

.chat_result_box .icon_cover{
	-webkit-transition: all 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
    transition: all 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
	position: absolute;
	left: 0px;
	right: 0px;
	top:0px;
	bottom: 0px;
	margin: auto;
	background-color: #ef5a24;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
}

.body_test_humanity_result_done .icon_cover1, .body_test_humanity_result_done .icon_cover3{
	transform: translateY(-100%);
}

.body_test_humanity_result_done .icon_cover2{
	transform: translateY(100%);
}

.chat_result_identity_icon{
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	flex-grow: 1;
}

.chat_result_identity_icon_human{
	background-image: url(../images/icon_human.png);
}

.chat_result_identity_icon_robot{
	background-image: url(../images/icon_ghost.png);
}

.chat_result_identity_icon_animal{
	background-image: url(../images/icon_animal.png);
}

.identity_guess{
	text-align: center;
}

.share_result_btn{
	position: absolute;
	left: 0px;
	bottom: 0px;
	right: 0px;
	margin: auto;
	display: flex;
	padding: 10px 50px;
	align-items: center;
	border-top:1px solid #000;
	background-color: #ef5a24;
	z-index: 1;
	cursor: pointer;
}

.share_result_btn div{
	margin: auto;
	text-align: center;
}

.top_arrow_btn{
	position: absolute;
	top:100px;
	left: 0px;
	right: 0px;
	margin: auto;
	text-align: center;
	z-index: 1;
	mix-blend-mode: difference;
	color:#fff;
	cursor: pointer;
}

.bottom_arrow_btn{
	position: fixed;
	bottom:20px;
	left: 0px;
	right: 0px;
	margin: auto;
	text-align: center;
	z-index: 1;
	mix-blend-mode: difference;
	color:#000;
	cursor: pointer;
	width: 50px;
	height: 50px;
	line-height: 50px;
	background-color: #fff;
	border-radius: 999px;
}

.leave_user_guide_btn{
	-webkit-transition: all 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
    transition: all 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
	opacity: 0;
	pointer-events: none;
}

.body_user_guide .leave_user_guide_btn{
	opacity: 1;
	pointer-events: auto;
}

.blur_bg{
	-webkit-transition: all 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
    transition: all 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
	position: fixed;
	left: 0px;
	top:-100%;
	width: 100%;
	height: 100%;
	margin: auto;
	z-index: 11;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

.body_user_guide .blur_bg{
	top:0%;
}



/* detail page */

.sticky_book_page{
	position: -webkit-sticky; /* for Safari */
	position: sticky;
	top: 100px;
	align-self: flex-start;
}

.load_content{
	-webkit-transition: all 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
    transition: all 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
	position: fixed;
	left: 0px;
	top:-100%;
	width: 100%;
	height: 100%;
	margin: auto;
	z-index: 11;
}

.body_user_guide .load_content{
	top:0%;
	width: 100%;
	height: 100%;
	position: absolute;
}

.scrolltonext{
	-webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
    transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
	position: absolute;
	left: 0px;
	right: 0px;
	margin: auto;
	bottom: 20px;
	width: 200px;
	background-color: #fff;
	color: #000;
	text-align:center;
	border-radius: 999px;
	opacity: 0;
	pointer-events: none;
	overflow: hidden;
	z-index: 3;
	filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.5));
}

.scrolltonext.show{
	opacity: 1;
}


.scrolltonext .progress{
	position: absolute;
	left: 0px;
	top:0px;
	width: 0%;
	height: 100%;
	background-color: #ef5a24;
	border-radius: 999px;
}

.scrolltonext.ok .progress{
	-webkit-transition: width 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
    transition: width 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
	width: 100% !important;
}

.scrolltonext .text{
	position: relative;
	z-index: 1;
}

.scrolltonext .text::before{
	content:"Next Page 下一頁"
}

.book_style4 .scrolltonext .text::before{
	content:"Close Page 關閉"
}


.scrolltonext.ok .text::before, .book_style4 .scrolltonext.ok .text::before{
	content:"OK"
}

.book_wrapper{
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
	perspective: 500px;
	pointer-events: none;
}

.body_user_guide .book_wrapper{
	pointer-events: auto;
}

.book_wrapper.active{
	display: block;
}

.book_wrapper .book{
	-webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
    transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
	transform: translateY(500px) rotateX(45deg);
	opacity: 0;
}

.book_wrapper.show .book{
	transform: translateY(0px) rotateX(0deg);
	opacity: 1;
}

.book_page .chi_text{
	letter-spacing: 0.1em;
}

.book_page a:hover{
	opacity: 0.5;
}

.book{
	pointer-events: none;
}

.book .book_page_scroll_wrapper{
	pointer-events: auto;
}

.book .book_page_scroll_wrapper::after{
	pointer-events: none;
}

.book_style0 {
	position: absolute;
	width: 70%;
	margin: auto;
	display: flex;
	align-items: center;  
	left: 0px;
	right: 0px;
	top:0px;
	bottom: 0px;
	color: #000000;
	min-width: 900px;
	filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

.book_style0 .book_page_scroll_wrapper {
	width: 100%;
	padding-bottom: 50%;
	position: relative;
	background-color: #ef5a24;
	border-radius: 15px;
	overflow: hidden;
  }

  .book_style0 .book_page_scroll_wrapper::after{
	content:"";
	position: absolute;
	top:0px;
	bottom:0px;
	left:50%;
	width: 50px;
	background: linear-gradient(90deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%); 
	z-index: 2;
  }

.book_style0 .book_page_scroll {
	position: absolute;
	left: 0px;
	top:0px;
	width: 100%;
	height: 100%;
}

.book_style0 .book_page_wrapper{
	display: flex;
	flex-wrap: wrap;
}
.book_style0 .book_page{
	width: 50%;
	padding: 50px;
	box-sizing: border-box;
}

.book_style0 .book_page_head{
	padding: 25px 50px;
	position: -webkit-sticky; /* for Safari */
	position: sticky;
	top: 0;
	align-self: flex-start;
	background-color: #ef5a24;
	z-index: 1;
	margin-bottom: 25px;
}

.book_style0 .book_page_body{
	padding-top: 0px;
}

.book_style0 .ps__rail-y {
	z-index: 2;
}

.book_style1{
	position: absolute;
	width: 70%;
	margin: auto;
	display: flex;
	align-items: center;  
	left: 0px;
	right: 0px;
	top:0px;
	bottom: 0px;
	color:#9fa1a4;
	min-width: 900px;
	filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}


.book_style1 .book_page_scroll_wrapper {
	width: 100%;
	padding-bottom: 50%;
	position: relative;
	background-color: #fff;
	border-radius: 15px;
	overflow: hidden;
  }

  .book_style1 .book_page_scroll_wrapper::after{
	content:"";
	position: absolute;
	top:0px;
	bottom:0px;
	left:50%;
	width: 50px;
	background: linear-gradient(90deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%); 
	z-index: 2;
  }

.book_style1 .book_page_scroll {
	position: absolute;
	left: 0px;
	top:0px;
	width: 100%;
	height: 100%;
}

.book_style1 .book_page_wrapper{
	display: flex;
	flex-wrap: wrap;
}
.book_style1 .book_page{
	width: 50%;
	padding: 50px;
	box-sizing: border-box;
}

.book_style1 .book_page_head{
	padding: 25px 50px;
	position: -webkit-sticky; /* for Safari */
	position: sticky;
	top: 0;
	align-self: flex-start;
	background-color: #fff;
	z-index: 1;
	margin-bottom: 25px;
}

.book_style1 .book_page_body{
	padding-top: 0px;
}

.book_style1 .ps__rail-y {
	z-index: 2;
}

.book_style1_2{
	left: 0%;
	right: 0%;
	top:0%;
	bottom: 0%;
}

.book_style1_2 .book_page_scroll_wrapper{
	background-color: #e6ea7a;
}

.book_style1_2 .book_page_head{
	background-color: #e6ea7a;
}

.book_style1_3{
	left: 0%;
	right: 5%;
	top:5%;
	bottom: 5%;
	}


.book_style1_4{
	left: 5%;
	right: 0%;
	top:5%;
	bottom: 0%;
}

.book_style1_4 .book_page_scroll_wrapper{
	background-color: #ff0000;
}

.book_style1_4 .book_page_head{
	background-color: #ff0000;
}
	
.line_ul{
	border-top:1px solid #9fa1a4;
	border-bottom:1px solid #9fa1a4;
}

.line_ul li{
	padding: 5px 0px;
	}

.line_ul li+li{
	border-top:1px solid #9fa1a4;
}

.line_ul a{
	display: block;
	position: relative;
}

.line_ul li a::after {
	margin: auto;
    content: "→";
    position: absolute;
    color: #9fa1a4;
    width: 10px;
    height: 10px;
    top: 0px;
    bottom: 0px;
    right: 10px;
	line-height: 10px;
}
.line_ul li a:hover{
	color:#000;
}


.line_ul li a:hover::after{
	color:#000;
}

.book_artist_bio {
	display: flex;
    flex-wrap: wrap;
}
.book_page_head {
	display: flex;
}
.book_page_head .boxed_2023 {
	border: 1px solid #9fa1a4;
	padding: 2px 3px;
	position: relative;
	top: 1px;
	left: 5px;
	transform: scale(0.8);
	transform-origin: top left;
	height: auto;
	line-height: 1em;
}

.book_style0 .boxed_2023 {
	border-color: #000;
}
.book_style1 .boxed_2023 {
	border-color: #9fa1a4;
}
.book_style2 .boxed_2023 {
	border-color: #9fa1a4;
}
.book_style9 .boxed_2023 {
	border-color: #9fa1a4;
}
.book_page_head_left {
	margin-right: auto;
}
.book_page_head_right {
	margin-left: 0.25em;
}
.book_section_head {
	display: flex;
	padding: 25px 0 10px 0;
	border-bottom: 1px solid #9fa1a4;
	flex-basis: 100%;
}
.book_style4 .book_section_head {
	border-color: #000;
}
.book_profile {
	width: 33%;
	flex-basis: 33%;
	margin-top: 25px;
}
.book_artist_pic {
	width: 100%;
	padding-bottom: 133%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.25);
	background-size: cover;
	background-position-x: center;
	background-position-y: center;
	border-radius: 15px;
}
.book_artist_desc {
	width: 67%;
	flex-basis: 67%;
    padding-left: 25px;
    box-sizing: border-box;
	/* overflow: hidden; */
    margin-top: 25px;
}

.book_logo{
	width: 50%;
	max-width: 100px;
}

.book_artist_name {
	margin-top: 10px;
}
.book_artist_name p{
	margin-top: 10px;
}
.book_artist_mobile_info{
	display: none;
}
.book_style2{
	position: absolute;
	width: 70%;
	margin: auto;
	display: flex;
	align-items: center;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	color: #9fa1a4;
	min-width: 900px;
	filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
}

.book_style2 .book_page_scroll_wrapper {
	width: 100%;
	padding-bottom: 55%;
	position: relative;
	background-color: #000;
	border-radius: 15px;
	overflow: hidden;
  }

.book_style2 .book_page_scroll_wrapper::after{
	content:"";
	position: absolute;
	top:0px;
	bottom:0px;
	left:50%;
	width: 50px;
	background: linear-gradient(90deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 100%); 
	z-index: 2;
}

.book_style2 .book_page_scroll {
	position: absolute;
	left: 0px;
	top:0px;
	width: 100%;
	height: 100%;
}

.book_style2 .book_page_wrapper{
	display: flex;
	flex-wrap: wrap;
}
.book_style2 .book_page{
	width: 50%;
	padding: 50px;
	box-sizing: border-box;
}

.book_style2 .book_page_head{
	padding: 25px 50px;
	position: -webkit-sticky; /* for Safari */
	position: sticky;
	top: 0;
	align-self: flex-start;
	background-color: #000;
	z-index: 1;
	margin-bottom: 0px;
}

.book_style2 .book_page_body{
	padding-top: 0px;
	padding-bottom: 10px;
}
.book_style2 .book_page_body:last-child {
	padding-bottom: 25px;
}

.book_style2 .ps__rail-y {
	z-index: 2;
  }

.main_book_page_body{
	text-align: center;
}

.main_ex_text{
	padding-top: 10px;
	border-top:1px solid #9fa1a4;
	width: 100%;
	height: 0;
    padding-bottom: 118%;
    position: relative;
}
.main_ex_text[data-target]{
	cursor: pointer;
}

.main_ex_text[data-target]:hover .img {
	/* opacity: 0.5; */
	transform: translate(-50%, -50%) scale(1.1);
}
.main_ex_text[data-target]:hover .cover_title_top,
.main_ex_text[data-target]:hover .cover_title_bottom {
	color: #FFFFFF;
	transition: color 250ms ease-out;
}

.main_ex_text h5 {
	text-align: left;
}
.main_ex_text .img{
	width: 100%;
	padding-bottom: 66.7%;
	overflow: hidden;
	background-size: cover;
	/* padding-bottom: 100%; */
	/* border-radius: 100%; */
	/* border:1px solid #fff; */
	/* margin-top: 10px; */
	transition: transform 250ms ease-out, opacity 250ms;
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
}

.cover_title_bottom, .cover_title_top{
    position: absolute;
    width: 100%;
}
.cover_title_top{
	top: 10px;
}
.cover_title_bottom{
	bottom: 10px;
}



.book_style3{
	position: absolute;
	width: 80%;
	margin: auto;
	display: flex;
	align-items: center;  
	left: 5%;
	right: 0px;
	top:10%;
	bottom: 0px;
	color:#000;
	min-width: 900px;
	filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
}

.book_style3 .book_page_scroll_wrapper {
	width: 100%;
	padding-bottom: 40%;
	position: relative;
	background-color: #9fa1a4;
	border-radius: 15px;
	overflow: hidden;
  }

  .book_style3 .book_page_scroll_wrapper::after{
	content:"";
	position: absolute;
	top:0px;
	bottom:0px;
	left:50%;
	width: 50px;
	background: linear-gradient(90deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%); 
	z-index: 2;
  }

.book_style3 .book_page_scroll {
	position: absolute;
	left: 0px;
	top:0px;
	width: 100%;
	height: 100%;
}

.book_style3 .book_page_wrapper{
	display: flex;
	flex-wrap: wrap;
}
.book_style3 .book_page{
	width: 50%;
	padding: 50px;
	box-sizing: border-box;
}

.book_style3 .book_page_head{
	padding: 25px 50px;
	position: -webkit-sticky; /* for Safari */
	position: sticky;
	top: 0;
	align-self: flex-start;
	background-color: #9fa1a4;
	z-index: 1;
	margin-bottom: 25px;
}

.book_style3 .book_page_body{
	padding-top: 0px;
}

.book_style3 .ps__rail-y {
	z-index: 2;
  }

.book_leave_btn{
	position: absolute;
	left: 0px;
	top:0px;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.book_style4{
	position: absolute;
	width: 65%;
	margin: auto;
	display: flex;
	align-items: center;  
	left: 0px;
	right: 0%;
	top:10%;
	bottom: 0%;
	color:#000;
	min-width: 860px;
	filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
}

.book_style4 .book_page_scroll_wrapper {
	width: 100%;
	padding-bottom: 50%;
	position: relative;
	background-color: #ef5a24;
	border-radius: 15px;
	overflow: hidden;
}
.color_blue .book_page_scroll_wrapper {
	background-color: #6666ff;
}
.color_yellow .book_page_scroll_wrapper {
	background-color: #e6ea7a;
}

.book_style4 .book_page_scroll_wrapper::after{
	content:"";
	position: absolute;
	top:0px;
	bottom:0px;
	left:50%;
	width: 50px;
	background: linear-gradient(90deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%); 
	z-index: 2;
}

.book_style4 .book_page_scroll {
	position: absolute;
	left: 0px;
	top:0px;
	width: 100%;
	height: 100%;
}

.book_style4 .book_page_wrapper{
	display: flex;
	flex-wrap: wrap;
}
.book_style4 .book_page{
	width: 50%;
	padding: 50px;
	box-sizing: border-box;
}

.book_style4 .book_page_head{
	padding: 25px 50px;
	position: -webkit-sticky; /* for Safari */
	position: sticky;
	top: 0;
	align-self: flex-start;
	background-color: #ef5a24;
	z-index: 1;
	margin-bottom: 25px;
}

.book_style4 .book_page_body{
}

.book_style4 .ps__rail-y {
	z-index: 2;
  }

.book_style4 .book_page_body.headless_book_page {
	padding-top: 50px;
}

.book_project_info {
	display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
    flex-direction: column;
	z-index: 2;
	top:0px;
}

.book_project_info .project_name {
	margin-top: 0;
	margin-bottom: auto;
	align-self: flex-start;
}

.project_image_gallery {
	width: 100%;
    border-radius: 15px;
    align-self: flex-end;
	position: relative;
}

.project_image_gallery .swiper-slide{

}

.project_image_gallery .bg{
	padding-bottom: 50%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	border-radius: 15px;
	display: block;
}

.project_image_gallery .num{
	position: absolute;
	top:100%;
	left:0px;
	width: 100%;
	text-align: center;
	margin-top: 10px;
	height: 6px;
	line-height: 6px;
}

.project_image_gallery .num .swiper-pagination-bullet {
	width: 6px;
	height: 6px;
	background: #9fa1a4;
	opacity: 1;
	margin-left: 6px;
	margin-right: 6px;
  }

  .project_image_gallery .num .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: #fff;
  }

.book_project_info .book_artist_name {
	text-align: right;
    /* width: 100%;
    align-self: flex-end; */
	margin-bottom: 10px;
}

.subhead-p {
	margin-bottom: -15px;
}

.book_style8{
	position: absolute;
	width: 70%;
	margin: auto;
	display: flex;
	align-items: center;  
	left: 0px;
	right: 10%;
	top:10%;
	bottom: 0px;
	color:#9fa1a4;
	min-width: 900px;
	filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

.book_style8 .book_page_scroll_wrapper {
	width: 100%;
	padding-bottom: 50%;
	position: relative;
	background-color: #fff;
	border-radius: 15px;
	overflow: hidden;
  }

  .book_style8 .book_page_scroll_wrapper::after{
	content:"";
	position: absolute;
	top:0px;
	bottom:0px;
	left:50%;
	width: 50px;
	background: linear-gradient(90deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%); 
	z-index: 2;
  }

.book_style8 .book_page_scroll {
	position: absolute;
	left: 0px;
	top:0px;
	width: 100%;
	height: 100%;
}

.book_style8 .book_page_wrapper{
	display: flex;
	flex-wrap: wrap;
}
.book_style8 .book_page{
	width: 50%;
	padding: 50px;
	box-sizing: border-box;
}

.book_style8 .book_page_head{
	padding: 25px 50px;
	position: -webkit-sticky; /* for Safari */
	position: sticky;
	top: 0;
	align-self: flex-start;
	background-color: #fff;
	z-index: 1;
	/* margin-bottom: 25px; */
}
.book_style8 .row {
	margin: 0;
}
.book_style8 .book_page_body{
	padding-top: 0;
    /* padding-bottom: 25px; */
}
.book_page_body.book_page_1quart {
	width: 25%;
}
.book_page_body.book_page_3quart {
    width: 75%;
}
.book_style8 .row_title {
    width: calc((100% - 50px) / 3);
    /* flex-basis: calc((100% - 50px) * 0.3333); */
}

.row_item {
	border-top: 1px solid #9fa1a4;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: right;
}
.row_content {
	display: flex;
	width: calc((100% - 50px) * 2 / 3 + 50px);
    padding-left: 50px;
	margin-left: auto;
    box-sizing: border-box;
    justify-content: right;
}

.row_content > div {
	padding-left: 25px;
	border-left: 1px solid;
	box-sizing: border-box;
}
.row_content > div:first-child {
	padding-left: 0;
	border-left: none;
}
.row_content > .col6:first-child {
	padding-right: 25px;
}
.row_item .col12 {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid;
}
.row_item > div:nth-child(2) .col12,
.row_item > div:nth-child(1) .col12 {
	padding-top: 0;
    border-top: none;
}
.row_item > div:last-child .col12 {
	padding-bottom: 0;
}
.row_item:last-child {
	padding-bottom: 0;
}
.row_footnote {
	width: 100%;
	font-size: calc(8px + 0.25vw);
	line-height: 1.5;
}

.boxed_registration_btn{
	-webkit-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
    transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
	opacity: 1;
	display: block;
}

a.boxed_registration_btn:hover{
	opacity: 1;
}

a .boxed_registration {
	-webkit-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
    transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
	color: rgb(159, 161, 164);
}

a:hover .boxed_registration {
	background-color: rgb(159, 161, 164);
	color: rgb(255, 255, 255);
	opacity: 1;
}
.boxed_registration {
	margin-top: 5px;
    border: 1px solid;
    padding: 10px;
    display: block;
    box-sizing: border-box;
}

.registration_note {
	padding-bottom: 10px;
	font-size: calc(8px + 0.1vw);
    line-height: 1.5;
}

.registration_cta {
	width: 100%;
    border-top: 1px solid;
    padding-top: 10px;
    position: relative;
    padding-right: 20px;
    box-sizing: border-box;
}

.registration_cta::after {
	content: "→";
    position: absolute;
	right: 0;
}

.book_style8 .ps__rail-y {
	z-index: 2;
}

.book_style9{
	position: absolute;
	width: 70%;
	margin: auto;
	display: flex;
	align-items: center;  
	left: 10%;
	right: 0px;
	top: 20%;
	bottom: 0px;
	color:#9fa1a4;
	min-width: 900px;
	filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
}
.book_style9 .row {
	margin: 0;
}

.book_style9 .book_page_scroll_wrapper {
	width: 100%;
	padding-bottom: 50%;
	position: relative;
	background-color: #000;
	border-radius: 15px;
	overflow: hidden;
  }

.book_style9 .book_page_scroll_wrapper::after{
	content:"";
	position: absolute;
	top:0px;
	bottom:0px;
	left:50%;
	width: 50px;
	background: linear-gradient(90deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 100%); 
	z-index: 2;
}

.book_style9 .book_page_scroll {
	position: absolute;
	left: 0px;
	top:0px;
	width: 100%;
	height: 100%;
}

.book_style9 .book_page_wrapper{
	display: flex;
	flex-wrap: wrap;
}
.book_style9 .book_page{
	width: 50%;
	padding: 50px;
	box-sizing: border-box;
}

.book_style9 .book_page_head{
	padding: 25px 50px;
	position: -webkit-sticky; /* for Safari */
	position: sticky;
	top: 0;
	align-self: flex-start;
	background-color: #000;
	z-index: 1;
	/* margin-bottom: 25px; */
}
.book_style9 .row_item {
	justify-content: left;
}
.book_style9 .book_page_body{
	padding-top: 0;
    /* padding-bottom: 25px; */
}
.book_style9 .ps__rail-y {
	z-index: 2;
}

.book_style9_2{
	left: 15%;
	right: 0%;
	top:0%;
	bottom: 10%;
}

.book_style9 a{
	color: #9fa1a4;
}

.book_style0,
.book_style1,
.book_style2,
.book_style3,
.book_style4,
.book_style5,
.book_style6,
.book_style7,
.book_style8,
.book_style9 {
	/* width: auto; */
	/* max-width: none; */
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.book_wrapper.reach-end .book {
	-webkit-transition: bottom 0.3s ease-out, right 0.3 ease-out;
	transition: bottom 0.3s ease-out, right 0.3 ease-out;
	/* -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0s;  */
    /* transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0s;  */
}

@media screen and (max-width: 1440px) { 

	.chat_result{
		padding-bottom: 45%;
	}
	

	.chat_result_logo{
		height: 35px;
	}
	
	.chat_result_content_scroll_wrapper{
		top:85px;
	}

}


@media screen and (max-width: 1280px) { 


}

@media screen and (max-width: 1023px) { 
	.book {
		min-width: 80%;
	}

	.book .book_page {
		width: 100%;
	}

	.book .book_page_scroll_wrapper {
		padding-bottom: 0;
		height: 100%;
		margin-top: auto;
	}

	.book_style0,
	.book_style1,
	.book_style2,
	.book_style3,
	.book_style4,
	.book_style5,
	.book_style6,
	.book_style7,
	.book_style8,
	.book_style9 {
		width: auto;
		max-width: none;
		left: 20px;
		right: 20px;
		top:70px;
		bottom:20px;
	}

	.book_style4{
		left: 40px;
		right: 40px;
		top:90px;
		bottom:20px;
	}

	.book_style0{
		top:70px !important;
	}

	.book .book_page_head{
		padding: 20px;
	}

	.book .book_page {
		padding: 20px;
	}

	/* :nth-last-child(1 of .reach-end) {
		margin-bottom: 2.5%;
	}
	:nth-last-child(2 of .reach-end) {
		margin-bottom: 5%;
	}
	:nth-last-child(3 of .reach-end) {
		margin-bottom: 7.5%;
	}
	:nth-last-child(4 of .reach-end) {
		margin-bottom: 10%;
	} */

	.book .book_page_scroll_wrapper::after{
		content: none;
	}

	.book_page.book_page_head:first-child {
		display: none;
	}

	.book_project_info {
		display: block;
		height: auto;
		padding-top: 50px;
		padding-bottom: 25px;
		top: 0;
		border-bottom: 1px solid #000;
		background-color: #ef5a24;
	}
	.color_blue .book_project_info {
		background-color: #6666ff;
	}
	.color_yellow .book_project_info {
		background-color: #e6ea7a;
	}

	.book_artist_bio {
		margin-top: 25px;
		/* padding-top: 25px; */
		border-top: 1px solid #000;
	}

	.book_profile {
		display: flex;
		flex-basis: 100%;
	}
	.book_section_head {
		position: absolute;
		left: 0%;
		margin-left: calc((100% - 50px) * 0.33 + 25px);
	}
	.book_page_head_right {
		margin-left: 0;
	}
	.book_artist_pic {
		flex-basis: 33%;
		padding-bottom: 44%;
	}

	.book_artist_mobile_info{
		flex-basis: 67%;
		display: flex ;
		flex-direction: column;
		justify-content: space-between;
	}
	.book_artist_name {
		margin-left: 25px;
		box-sizing: border-box;
		margin-top: auto;
	}
	.book_artist_desc {
		flex-basis: 100%;
    	padding-left: 0;
	}

	.book_section_head {
		display: block;
		flex-basis: 67%;
		align-self: self-start;
		padding: 0 0 10px 25px;
		border: none;
		box-sizing: border-box;
		margin-top: 25px;
	}

	.book_style4 .book_page_body.headless_book_page {
		/* padding-top: calc(min(65vh, 32vw) + 25px); */
		padding-top: 25px;
	}

	.book_style4 .book_project_info {
		padding-top: 25px;
		padding-bottom: 50px;
	}
	.book_style8 .sticky_book_page {
		/* padding-bottom: 50px;
		padding-top: 100px;
		margin-top: -100px;
		margin-bottom: 25px;
		margin-left: 50px;
		margin-right: 50px;
		padding-left: 0;
		padding-right: 0;
		top: 0;
		background-color: #FFFFFF;
		border-bottom: 1px solid; */
		position: relative;
		top: 0;
		margin-top: 25px;
	}
	.book_style8 .row_title {
		width: 100%;
		flex-basis: 100%;
		padding-bottom: 25px;
	}
	.row_content {
		width: 100%;
		flex-basis: 100%;
		padding-left: 0;
		flex-direction: column;
	}
	.book_style8 .col6 {
		width: 100%;
		flex-basis: 100%;
		padding-left: 0;
		border-left: none;
		border-top: 1px solid;
		padding-top: 25px;
		padding-bottom: 25px;
	}

	.book_style8 .col6:first-child {
		border-top: none;
		padding-top: 0;
	}
	.book_style8 .col6:last-child {
		padding-bottom: 0;
	}

	.sticky_book_page {
		position: relative;
		top: auto;
	  }

	.book_project_info{
		height: auto !important;
	}

	.project_image_gallery .bg{
		border-radius: 5px;
	}
	.main_ex_text {
		padding-bottom: 80%;
	}
	.main_ex_text .img {
		width: 81%;
		padding-bottom: 54%;
	}

	h4 {
		font-size: 5vw;
	}

	.text6.chi_text {
		font-size: 3vw;
	}

	.book_style2 .text6 {
		font-size: 2.5vw;
	}
	.book_style2 .main_ex_text .text7 {
		font-size: 2vw;
	}

	.bottom_arrow_btn{
		bottom:-25px;
		line-height: 28px;
	}

	.reach-end .scrolltonext{
		opacity: 1;
		pointer-events: all;
	}

	.book_page_wrapper {
		padding-bottom: 50px;
	  }
}

@media screen and (max-width: 600px) { 
	.book_style2 .col6{
		display: block;
		float: none;
		width: auto;
	}

	.book_page_body.main_book_page_body {
		padding: 0 20px;
	}

	.book_style2 .main_ex_text.left_text {
		padding: 20px 0 40px 0;
		margin-top: 25px;
		height: auto;
		border-top: none;
	}

	.cover_title_top{
		top: 20px;
	}
	.cover_title_bottom{
		bottom: 20px;
	}

	h4 {
		font-size: calc(12px + 1.0vw);
	}
	.text6.chi_text {
		font-size: calc(12px + 0.3vw);
	}
	.book_style2 .text6 {
		font-size: calc(12px + 0.3vw);
	}
	.book_style2 .text7 {
		font-size: calc(12px);
	}

	/* .book_style2 .col6 + .col6{
		margin-top: 40px;
	} */

}